<div class="main-header">
  <div class="main-header-title">
    hogehoge
  </div>
  <div class="exit-room-btn">
    <%= link_to "チャットを終了する", "#" %>
  </div>
</div>

<div class="chat-messages">
  <ul class="post-messages">
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
    <li class="post-message">
      <div class="message-header">
        <div class="message-user">Tom</div>
        <div class="message-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message-main">
        おはよう
      </div>
    </li>
  </ul>
</div>
<div class="chat-form">
  <div class="message-form">
    <input type="text" placeholder="type a message" class="message-form-text">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="message-form-submit">
</div>